{% extends "base.html" %}

{% block title %}

	Animes

{% endblock %}

{% block javascript %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
    		$("#mostrar").click(function(){
        	$(".imagen").show(1000);
    	});
    		$("#ocultar").click(function(){
        	$(".imagen").hide(1000);
    	});
		});
	</script>

{% endblock %}
 
{% block content %} 

<div class="content-wrapper">
    <section class="primary" id="contenido">
        <div class="container">
        	<ul class="list-group">
				{% for anime in object_list %}
					<section class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-4">
						<li id="cardseries" class="list-group-item">
							<a class="imagen" href="../detalle/anime/{{anime.id}}"> <img src="../../static/images/{{anime.imagen}}" width="320" height="200"></a>
							<h4><strong>{{anime.nombre}}</strong></h4>
							<h5>fecha de publicación: {{anime.año_lanzamiento}} </h5>
						</li>
					</section>
				{% endfor %}
			</ul>
		</div>
    </section>
</div>

{% endblock %}