<html>
<head>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
	{% block javascript %}
	{% endblock %}
	<title>{% block title %} {% endblock %} </title>
</head>
<body>
    	{% load staticfiles %}
    		<header>
    			<div class="navbar-wrapper">
    			    <div class="container-fluid">
    			        <nav class="navbar navbar-fixed-top">
    			            <div class="container">
    			                <div class="navbar-header">
    			                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    			                        <span class="sr-only">Toggle navigation</span>
    			                        <span class="icon-bar"></span>
    			                        <span class="icon-bar"></span>
    			                        <span class="icon-bar"></span>
    			                    </button>
    			                    <a class="navbar-brand" href='{% url "myseriesapp:inicio" %}'><img class="logo" src="{% static 'images/logo.png' %}"/></a>
    			                </div>
    			                <div id="navbar" class="navbar-collapse collapse">
    			                    <ul class="nav navbar-nav">
    			                    <li><a href='{% url "myseriesapp:inicio" %}'>inicio</a></li>
                                    <li><a href='{% url "myseriesapp:series" %}'>series</a></li>
                                    <li><a href='{% url "myseriesapp:animes" %}'>animes</a></li>
                                    <li><a href='{% url "myseriesapp:productoras" %}'>productoras</a></li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">añadir
                                        <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                          <li><a href='{% url "myseriesapp:registro_serie" %}'>serie</a></li>
                                          <li><a href='{% url "myseriesapp:registro_anime" %}'>anime</a></li>
                                          <li><a href='{% url "myseriesapp:registro_productora" %}'>productora</a></li>
                                        </ul>
                                    </li>
                                    </ul>
                                    <ul class="nav navbar-nav pull-right">
                                    {% if user.is_authenticated %}
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{user.username}}<span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a href='{% url "myseriesapp:perfil" %}'>Mi perfil <span class="glyphicon glyphicon-user"></a></li>
                                                <li><a href='{% url "myseriesapp:logout" %}'>salir <span class="glyphicon glyphicon-log-out"></a></li>
                                            </ul>
                                        </li>
                                    {% else %}
                                        <li class=""><a href='{% url "myseriesapp:login" %}'"><span class="glyphicon glyphicon-log-in"> login</a></li>
                                    {% endif %}
                                    </ul>
    			                </div>
    			            </div>
    			        </nav>
    			    </div>
    			</div>
    		</header>

	{% block content %}

	{% endblock %}

	<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h4> Contenido principal </h4>
                    <ul>
                        <li> <a href='{% url "myseriesapp:series" %}'> Series </a> </li>
                        <li> <a href='{% url "myseriesapp:animes" %}'> Animes </a> </li>
                        <li> <a href='{% url "myseriesapp:productoras" %}'> Productoras </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h4> Interactua </h4>
                    <ul>
                        <li> <a href='{% url "myseriesapp:registro_serie" %}'> Añadir serie </a> </li>
                        <li> <a href='{% url "myseriesapp:registro_anime" %}'> Añadir anime </a> </li>
                        <li> <a href='{% url "myseriesapp:registro_productora" %}'> Añadir productora </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h4> A tu alcance </h4>
                    <ul>
                        <li> <a href='{% url "myseriesapp:perfil" %}'> Perfil </a> </li>
                        <li> <a href='{% url "myseriesapp:inicio" %}#contact'> Contacta </a> </li>
                        <li> <a href='{% url "myseriesapp:inicio" %}'> Inicio </a> </li>
                    </ul>
                </div>
                <div class="col-lg-offset-3 col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h4> Visita nuestras redes sociales </h4>
                    <ul class="social">
                        <li> <a href="https://www.facebook.com/"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="https://twitter.com/"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="https://plus.google.com/?hl=es"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="https://www.youtube.com/"> <i class="fa fa-youtube">   </i> </a> </li>
                        <li> <a href="https://www.instagram.com/?hl=es"> <i class="fa fa-instagram">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
    
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © Mario Ponce García 2017. All right reserved. </p>
        </div>
    </div>
    <!--/.footer-bottom--> 
</footer>
</body>