
{% extends "base.html" %}

{% block title %}

	{{anime.nombre}}

{% endblock %}

{% block javascript %}
	<script>
		$(document).ready(function(){
	    	$("#botonPuntuar").click(function(){
	        	$("#divform").fadeIn("slow");
	    	});
		});
    </script>

{% endblock %}
 
{% block content %}
	<div class="content-wrapper select">
        <div class="container">
        	<div id="detalleSerie" class="col-md-8 col-md-offset-2">
	        	<img class="img-thumbnail" id="imgdescripcion" src="../../../../static/images/{{anime.imagen}}" width="600" height="380">
	            <h1>  
					{{anime.nombre}}
				</h1>
				<hr class="star-primary">
				<h3>
					<strong>Puntuación:</strong> {{nota|floatformat:2}}
				</h3>
				<h4>
					<strong>Lanzamiento:</strong> {{anime.año_lanzamiento}}
				</h4>
				<p>
					<strong>Productora:</strong> {{anime.productora}}
				</p>
				<p>
					{{anime.descripcion | safe}}
				</p>
				{% if user.is_authenticated %}
				<div>
					<button class="btn btn-default" id="botonPuntuar">Puntuar <span class="glyphicon glyphicon-chevron-down"></button>
				</div>
				<div id="divform" class="col-md-6 col-md-offset-3">
					<form class="form-horizontal" action="" method="post" enctype="multipart/form-data" role="form">
						{% load bootstrap %}
						{% csrf_token %}
						{{ form|bootstrap_horizontal }}
						<input type="submit" class="btn-success" value="confirmar">
					</form>
				</div>
				{% endif %}
			</div>
        </div>
    </div>
{% endblock %}