{% extends "base.html" %}

{% block title %}

	Inicio

{% endblock %}
 
{% block content %}

<div class="content-wrapper">
    <section class="primary" id="contenido">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Encuentra tus series favoritas</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-dg-4 col-md-4 text-center">
                    <img src="../../static/images/img1.jpg">    
                </div>
                <div class="col-xs-12 col-dg-4 col-md-4 text-center">
                    <img src="../../static/images/img2.jpg">    
                </div>
                <div class="col-xs-12 col-dg-4 col-md-4 text-center">
                    <img src="../../static/images/img3.jpg">    
                </div>
            </div>
        </div>
    </section>
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre myseriesapp</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Somos una página web donde podras encontrar una gran cantidad de informacion acerca de todas las series y animes hoy presentes.</p>
                </div>
                <div class="col-lg-4">
                    <p>¡Puntua y sube tus series y animes favoritos! Es la nueva novedad que traemos en myseriesapp en la última versión. Recuerda de debes estar identificado para estas acciones.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="primary" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contacta con nosotros!</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-lg-offset-2">
                    <form role="form" action="" method="post" class="contact">
                        {% load bootstrap %}
                        {% csrf_token %}
                        {{ form | bootstrap_horizontal}}
                        <button type="submit" class="btn-success btn-lg">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>  

{% endblock %}