{% extends 'base.html' %}

{% block title %} login {% endblock %}

{% block content %}
    <section class="primary" id="contenido">
    <div class="container">
            <br>
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3 col-dg-6 col-dg-offset-3 col-md-4 col-md-offset-4">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">login</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form" method="post" id='form_login' action="">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>Usuario:</label>
                                    </br>
                                    {{ form.username }}
                                </div>
                                <div class="form-group">
                                    <label>Contraseña:</label>
                                    </br>
                                    {{ form.password }}
                                </div>
                                <button class="btn btn-lg btn-success btn-block" type="submit" name="login"/>Login</button>
                            </form>
                        </div>
                    </div>
                    <p class="enlaceRegistro">¿Aún no tienes cuenta? registrate <a href="{% url 'myseriesapp:Registrarse' %}">aquí</a><p>
                    {% if form.errors %}
                        <div class="alert alert-danger alert-dismissable fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Error</strong> Porfavor introduzca un usuario y contraseña correctos
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        </section>
 
{% endblock %}