{% extends "base.html" %}

{% block title %}

  Animes

{% endblock %}

{% block content %} 
  <div class="content-wrapper select">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">INFORMACION PERSONAL</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="{% if imagen %} ../../static/images/{{imagen}} {% else %} ../../static/images/perfil-default.jpg {% endif %}" class="img-circle img-responsive">
                </div>
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>NOMBRE DE CUENTA:</td>
                        <td>{{usuario.first_name}}</td>
                      </tr>
                      <tr>
                        <td>EMAIL:</td>
                        <td>{{usuario.email}}</td>
                      </tr>
                      <tr>
                        <td>NOMBRE:</td>
                        <td>{{usuario.first_name}}</td>
                      </tr>
                      <tr>
                        <td>APELLIDO:</td>
                        <td>{{usuario.last_name}}</td>
                      </tr>                
                    </tbody>
                  </table>               
                </div>
                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data" role="form">
                  {% csrf_token %}
                  {{ form.imagen }}
                  <input type="submit" class="btn-success" value="confirmar">
                </form>
              </div>
            </div>                  
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}