{% extends "base.html" %}

{% block title %}

	Productoras

{% endblock %}
{% block content %}
	<div class="content-wrapper">
	    <section class="primary" id="contenido">
	        <div class="container">
	        	<ul class="list-group">
				{% for productora in object_list %}
					<section class="col-md-6">
						<li id="cardseries" class="list-group-item">
							<h1>{{productora.nombre}}</h1>
							<h3>año de fundación: {{productora.año_fundacion}}</h3>
							<a href="{{productora.web}}">{{productora.web}}</a>
						</li>
					</section>
				{% endfor %}
				</ul>
			</div>
	    </section>
	</div>
{% endblock %}

 