{% extends "base.html" %}

{% block title %}

    registrar {{type}}

{% endblock %}
 
{% block content %}
{% if form.errors %}
<p style="color: red;">
Existe algun error en el formulario
</p>
{% endif %}
<div class="content-wrapper select">
    <div class="container">
        <div class="col-md-10">
            <div class="form-area">
            <div id="formulario">
            <form class="form-horizontal" action="" method="post" enctype="multipart/form-data" role="form">
                {% load bootstrap %}
                {% csrf_token %}
                {{ form|bootstrap_horizontal }}
            <input type="submit" class="btn-success btn-lg" value="registrar">
            </form>
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}