{% extends "base.html" %}

{% block title %}

	Series

{% endblock %}

{% block javascript %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
    		$("#mostrar").click(function(){
        	$(".imagen").show(1000);
    	});
    		$("#ocultar").click(function(){
        	$(".imagen").hide(1000);
    	});
		});
	</script>

{% endblock %}
 
{% block content %} 

<div class="content-wrapper">
    <section class="primary" id="contenido">
        <div class="container">
        	<ul class="list-group">
				{% for serie in object_list %}
				<section class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-4">
					<li id="cardseries" class="list-group-item">
						<div class="img">
							<a class="imagen" href="../detalle/serie/{{serie.id}}"> <img src="../../static/images/{{serie.imagen}}" width="320" height="200"></a>
						</div>
						<div class="text">
							<h4><strong>{{serie.nombre}}</strong></h4>
							<h5>Fecha de publicación: {{serie.año_lanzamiento}}</h5>
						</div>
					</li>
				</section>
				{% endfor %}
			</ul>
		</div>
    </section>
</div>

{% endblock %}