{% extends 'base.html' %}
{% block content %}
 
    {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% endif %}
 <section class="primary" id="contenido">
    <div class="container">
            <br>
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3 col-dg-6 col-dg-offset-3 col-md-4 col-md-offset-4">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Registrate</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form" method="post" id='form_login' action="">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ form.username.label_tag }}
                                    </br>
                                    {{ form.username }}
                                </div>
                                <div class="form-group">
                                    {{ form.password.label_tag }}
                                    </br>
                                    {{ form.password }}
                                </div>
                                <div class="form-group">
                                    {{ form.email.label_tag }}
                                    </br>
                                    {{ form.email }}
                                </div>
                                <div class="form-group">
                                    {{ form.first_name.label_tag }}
                                    </br>
                                    {{ form.first_name }}
                                </div>
                                <div class="form-group">
                                    {{ form.last_name.label_tag }}
                                    </br>
                                    {{ form.last_name }}
                                </div>
                                <button class="btn btn-lg btn-success btn-block" type="submit" name="registro"/>Registrate</button>
                            </form>
                        </div>
                    </div>
                    <p class="enlaceRegistro">¿Ya tienes cuenta? entra <a href="{% url 'myseriesapp:login' %}">aquí</a><p>
                </div>
            </div>
        </div>
        </section>
 
{% endblock %}